<!DOCTYPE html>
{% extends "basic_app/base.html" %}
{% load staticfiles %}

{% block body_block %}

    {% if registered %}
        <h1 class="display-4 text-center">Thank you for registration</h1>
    {% else %}
        <h1 class="display-5 text-center">Register Here:</h1>
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" class="btn btn-outline-success" value="Submit"/>
        </form>
    {% endif %}

{% endblock %}